<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"><!--<![endif]--> 
  <head>
    <meta charset="utf-8">
    <title>goto直播</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/site.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="__PUBLIC__/jqueryColour/spectrum.css">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/jqueryColour/spectrum.js"></script>
    <script type='text/javascript' src='__PUBLIC__/jqueryColour/docs/docs.js'></script>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" charset="utf-8" src="/Public/UEditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/UEditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/Admin/js/qrcode.min.js"></script>
  <style type="text/css">
    span.reneed::after{
      content:'*';
      color:red;
      font-size:1.3em;
      margin-right:3px;
      position:absolute;
      right:100%;
      top:10%;
    }
    p.marb{
      margin:5px 0;
    }

    div#tui_qrcode{
      float:right;
      margin-right:200px; 
       border-radius:3px;
       display: inline-block;
    }

    .hostBox input{opacity: 0;width:1px;}
    .hostBox label{border:1px solid #eee;box-shadow: 0 0 6px #ddd;width: 150px;text-align: center;display: inline-block;margin:1px 5px;}
     .hostBox em{
        display: inline-block;
        margin-left:20px;
        cursor: pointer;
     }
    .yanse{float:left;}

  </style>
  </head>
  <body>
    <div class="container">
      <include file="public:nav" />
      <div class="row">
        <include file="public:left" />
        <div class="span9">
          <h4>
            修改直播详情
            <br />所有图片 只支持jpg png jpeg格式 <!--直播图片大小必须尺寸为：260*180--> 相关点播频展示图：220*150
          </h4>
          <form method="post" action="{:U('admin/admin/bczb')}" id="myform" enctype="multipart/form-data">
            <input type="hidden" name="v_id" value="{$id}">
              <div>
                  <span class="reneed" style="position:relative">直播标题名称:</span>
                  <input type="text" name="video_name" id="name" style="width:200px;" value="{$arr['video_name']}" />
              </div>
              <div> 
              <!-- <span class="reneed" style="position:relative">选择直播类型:</span>
                  <select name="video_type" id="tv"> 
                            <option value=""></option>
                      </notempty>
                  </select>
              </div> -->
                  <span class="reneed" style="position:relative">直播应用名:</span>
                   <select name="video_type" id="cate"> 
                        <foreach name="apps" item="vo">
                        <if condition="$arr['video_type'] eq $vo['appname']">                          
                        <option value="{$vo.appname}" selected>{$vo.appname}</option>
                        <else/>
                        <option value="{$vo.appname}">{$vo.appname}</option>
                        </if>
                        </foreach>
                </select>
              <div>
                 <span class="reneed" style="position:relative">直播文件流名:</span>
                  <input type="text" name="video_file" id='video_file' style="width:200px;" value="{$arr['video_file']}" />
               </div>
                 <div>
                <input type="button" id="tui" value="生成推流地址" style="font-size:0.8em">&nbsp;
                  <input type="text" value="" id="tui_tips" style="width:300px">&nbsp;<input type="button" id="qrcode" value="二维码">
                  <div id="tui_qrcode"></div> 
             <!--      <br> <input type="button" id="live" value="生成播放地址" style="font-size:0.8em">&nbsp;
                   <input type="text" value="" id="live_tips" style="width:300px">  -->
              </div>
              <div>
                  <span>直播浏览量 :</span> <input type="text" name="number" id="sort" style="width:100px;" value="{$arr['number']}" />
              </div>
              <div >
              <!-- <div> -->
                  <span>当前直播按钮颜色</span><div id='zb_c1' class="yanse" width="40" heighet="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请修改直播按钮颜色:<input id="full" name="button_color" value="{$arr['button_color']}" />
              </div>
              <div>
              <!-- <div> -->
                  <span>当前直播内容背景颜色</span><div id='zb_c2' class="yanse" width="40" heighet="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请修改直播内容背景颜色: <input id="full1" name="content_color" value="{$arr['content_color']}"/>
              </div>
              <div>
              <!-- <div> -->
                  <span>当前直播按钮文字颜色</span><div id='zb_c3' class="yanse" width="40" heighet="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请修改直播按钮字体颜色: <input id="full2" name="font_color" value="{$arr['font_color']}"/>
              </div>
                  <script>
                      $("#zb_c1").css("backgroundColor","{$arr['button_color']}");
                      $("#zb_c2").css("backgroundColor","{$arr['content_color']}");
                      $("#zb_c3").css("backgroundColor","{$arr['font_color']}");
                  </script>
              <div>
                  <span class="reneed" style="position:relative">首页排序(0-99 99最大 倒序排序 如果想展示第一位 请填写99) :</span> <input type="text" name="sort" id="sort" style="width:100px;" value="{$arr['sort']}" />
              </div>
                <p class="marb">直播是否展示在首页:
                <if condition="$arr['zb_zs'] eq 1"> 
                <input  type="radio" id="zb_zs" name="zb_zs" value="1" checked />显示
                <input  name="zb_zs" type="radio" value="0"  id="no_zb_zs" />不显示 
                <else />
                <input  type="radio" id="zb_zs" name="zb_zs" value="1" />显示
                <input  name="zb_zs" type="radio" value="0"  id="no_zb_zs" checked />不显示 
                </if>
                </p>
              <div>
                  <span class="reneed" style="position:relative">直播的开始时间:</span>
                  <input type="text" name="start_time" id="start_time" style="width:200px;" value="{$arr['start_time']}" />
                  (例如2016年10月20日15时00分02秒 则需要填写格式为<span style="color:red">2016/10/20/15/00/02</span>  必需这样填写 否则无法匹配时间)
                  <br /><br />
                  <span class="reneed" style="position:relative">直播所在的的城市:</span>
                  <input type="text" name="video_city" id="video_city" style="width:200px;" value="{$arr['video_city']}"  placeholder="天津" />
                  <span>例如直播详细的地址为:天津市河东区万达广场</span> <span style="color:red">     这里则只填写天津</span> 
                  <br />
                  <span class="reneed" style="position:relative">直播所在的详细地址:</span>
                  <input type="text" name="video_address" id="video_address" style="width:200px;" value="{$arr['video_address']}"  placeholder="河东区万达广场" />
                  <span>例如直播详细的地址为:天津市河东区万达广场</span>      <span style="color:red">这里则填写河东区万达广场</span>                
                  <br />
                  <span class="reneed" style="position:relative">直播新人联系方式:</span>
                  <input type="text" name="video_phone" id="video_phone" style="width:200px;" value="{$arr['video_phone']}"  />
                  <span>例如直播联系人电话：18611234567</span>      <span style="color:red">这里则填写18611234567</span>                
                  <br />
                  <span class="reneed" style="position:relative">安全码:</span>
                  <input type="text" name="safe_code" id="safe_code" style="width:200px;" value="{$arr['safe_code']}" />    安全码长度为6位(例如123456)，默认值为0，0表示不开启安全码
                  <br />
                 <span class="reneed" style="position:relative">选择直播地区:</span>
                  <select name="c_id" id="cate"> 
                        <foreach name="arr1" item="vo">
                          <if condition="$arr['c_id'] eq $vo['qy_id']">
                            <option value="{$vo.qy_id}" selected>{$vo.qy_name}</option>
                          <else />
                            <option value="{$vo.qy_id}">{$vo.qy_name}</option>
                          </if>  
                      </foreach>
                  </select>
                  <br />
                  <span class="reneed" style="position:relative">添加房间管理员:(每个直播只能有一个管理员)</span>
                  <select name="g_id" id="cate"> 
                          <foreach name="arr2" item="adv">
                          <if condition="$arr['a_id'] eq $adv['admin_id']">
                            <option value="{$adv.admin_id}" selected>{$adv['name']}</option>
                           <else />
                            <option value="{$adv.admin_id}">{$adv['name']}</option>
                            </if>
                          </foreach>
                  </select>
                  <br />


                 <span class="reneed" style="position:relative">上传直播图片: 只支持jpg png jpeg格式 <!--直播图片大小必须尺寸为：260*180--></span>
                 <input type="file"  name="zb_img"  value="" />    
                  <div>
                  <span>直播间水印图片:只支持jpg png jpeg格式 </span> <input name="watermark" value="" type="file" />
                </div>
                  <p class="marb">婚礼流程是否显示: 
                  <input  type="radio" id="l_show" name="liucheng" value="1" checked/>显示 <input  name="liucheng" type="radio" value="0"  id="l_no_show" />不显示</p>
                  
                  <div id="hl">
                  <br/>
                  <taglib name="html" />
                  <html:editor id="info" name="info" type="UEDITOR" >{$arr['info']}</html:editor>
                  </div>           

                <p class="marb">是否显示祝福: 
                <if condition="$arr['zhufu'] eq 1">
                <input  type="radio" name="zhufu" value="1" checked />显示 <input  name="zhufu" type="radio" value="0" />不显示</p>
                <else />
                <input  type="radio" name="zhufu" value="1" />显示 <input  name="zhufu" type="radio" value="0" checked/>不显示</p>
                </if>
                <p class="marb">是否显示邀约人气: 
                <if condition="$arr['renqi'] eq 1">
                <input  type="radio" name="renqi" value="1" checked />显示 <input name="renqi"  type="radio" value="0" />不显示</p>
                <else />
                 <input  type="radio" name="renqi" value="1" />显示 <input name="renqi"  type="radio" value="0" checked />不显示</p>
                 </if>
               </div>
               <br />
                <span class="reneed" style="position:relative;">服务人员职业：</span>
                <select id="profession_select">
                    <option value="">请选择</option>
                    <foreach name="host" item="hv">
                        <option value="{$hv['id']}">{$hv['profession']}</option>
                    </foreach>
                </select>
                 <br />
                <span class="reneed" style="position:relative">添加服务人员:</span>
                <select  id="selectHost"> 
                <option value="">请选择</option>
                </select>
                <div class="hostBox">
                    <foreach name="zcrs" item="hv">
                        <label><input type="checkbox" name="hostId{$hv.zcr_id}" checked value="{$hv.zcr_id}">{$hv.zhiye} - {$hv.zcr_name}<em>X</em></label>
                    </foreach>
                </div>
                <br />
               <br /><br />
              <button id="send1" >提交</button>
          </form>
        </div>
      </div>
    </div>
    <script src="__PUBLIC__/Admin/js/site.js"></script>
    <script type="text/javascript">
       $("#tui").click(function(){
              var appname = $("select[name='video_type']").val();
              var streamname = $("input[name='video_file']").val();
              if(!appname || !streamname){
                alert('请填写直播应用名,直播流文件名');
                return false;
              }
              var html = "rtmp://video-center.alivecdn.com/"+appname+"/"+streamname+ "?vhost=gotozb.yicehua.cn";
              $("#tui_tips").val(html); 
          });

         $('#qrcode').click(function(){
            var qrcode_img = $('#tui_qrcode').html('');
            
             var appname = $("select[name='video_type']").val();
              var streamname = $("input[name='video_file']").val();
              if(!appname || !streamname){
                alert('请填写直播应用名,直播流文件名');
                return false;
              }

              var html = "rtmp://video-center.alivecdn.com/"+appname+"/"+streamname+ "?vhost=gotozb.yicehua.cn";
              var qrcode = new QRCode('tui_qrcode', {
              width: 150,
              height: 150,
              colorDark : '#000000',
              colorLight : '#ffffff',
              correctLevel : QRCode.CorrectLevel.H
            });

               qrcode.clear();
              qrcode.makeCode(html);

          });
            $("#l_show").click(function(){
                $("#hl").show();
            });
            $("#l_no_show").click(function(){
                $("#hl").hide();
            });
            $("#sp_no_show").click(function(){
                $("#sp").hide();
            });
            $("#sp_show").click(function(){
                $("#sp").show();
            });
            document.getElementById("send1").onclick = function(){
              //alert('1');
                if($("#name").val()==''){
                      alert('请填写直播标题名称');
                      return false;
                }
                if($("#video_file").val()==''){
                      alert('请填写推流文件名');
                      return false;
                }
                if($("#c_id").val()==''){
                      alert('请填写直播地区');
                      return false;
                }
                if(($("#safe_code").val()!=0)&&($("#safe_code").val()!='')){
                    if($("#safe_code").val().length!=6){
                          alert('安全码必须为6位');
                          return false;
                    }
                }
               if($('#video_city').val()==''){
                      alert('请填写直播所在的城市');
                      return false;

               }
               if($('#video_address').val()==''){
                      alert('请填写直播所在的详细地址');
                      return false;

               }

              $("#myform").submit();
            };

            
        // 获取主持人列表
        function get_host_html(data){
            //<option value="{$vo.zcr_id}">{$vo.zhiye} - {$vo.zcr_name}</option>
            var html = '<option value="">请选择</option>';
            $(data).each(function(){
                html += '<option value="' + this.zcr_id + '">' +this.zhiye + ' - ' + this.zcr_name + '</option>';
            });
            return html;
        }

      window.onload=function(){
          $('#profession_select').on('change',function(){
                var pro_val = $(this).val();
                var pro_url = "{:U('Admin/Admin/get_host')}";
                
               // console.log(pro_val);     
               if(!pro_val){
                   return false;
               }
               $.ajax({
                   'type':'POST',
                   'url':pro_url,
                   'dataType':'json',
                   'data':{'hid':pro_val},
                   'success':function(data){
                        // console.log(data);
                        if(data.result == '1'){
                            var host_html = get_host_html(data.data);
                             $("#selectHost").html(host_html);   
                        }else{
                            alert(data.msg);
                        }
                             
                   }
               });
               
           });

        $('#selectHost').on('change',function(){
            var $currHost=$(this);

            $('.hostBox').append("<label><input name='hostId"+ $currHost.val()+"' type='checkbox' checked value="+$currHost.val()+">"+$currHost.find('option:selected').text()+"<em>X</em></label>");

        });

        $('.hostBox').on('click',"em",function(){
              $(this).parent().remove();
        });

       }

    </script>
  </body>
<script>

    var color1="background-color:"+"{$arr['button_color']}"+'!important';

   $('#myform #bc1 .sp-preview-inner').css("style",color1);


</script>
</html>
