<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"><!--<![endif]--> 
  <head>
    <meta charset="utf-8">
    <title>goto直播</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/site.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div class="container">
      <include file="public:nav" />
      <div class="row">
        <include file="public:left" />
        <div class="span9">
          <h4>
            服务人员信息
            <br />所有图片 只支持jpg png jpeg格式 图片大小必须尺寸为：170*150
          </h4>
          <form method="post" action="{:U('Admin/bczcr')}" id="myform" enctype="multipart/form-data">
              <input type="hidden" name="dd" value="{$arr['zcr_id']}">
              <div>
                  姓名:
                  <input type="text" name="zcr_name" id="name" style="width:200px;" value="{$arr['zcr_name']}" /><br/>
                  星级:
                  <input type="text" name="zcr_star" id="num" style="width:200px;" value="{$arr['zcr_star']}" /><br/>
                  链接:
                  <input type="text" name="zcr_url" id="url" style="width:200px;" value="{$arr['zcr_url']}" /><br/>
                  职业:
                  <select name="hid" id="hid">
                  <option value="">请选择</option>
                  <foreach name="host" item="hv">
                  <if condition="$hv['id'] eq $arr['hid']">
                    <option value="{$hv['id']}" selected>{$hv['profession']}</option>
                    <else/>
                    <option value="{$hv['id']}">{$hv['profession']}</option>
                    </if>
                  </foreach>
                 </select><br/>
              </div>
              上传主持人图片: 图片只支持jpg png jpeg格式
              <input type="file"  name="zcr_img"  value="" />              
               <br>
              <span>
              <font color="red" font-size="0.9em">图片请上传大小比例:170*150,最小尺寸为:170*150</font></span>      
              <br>   
              <br>    
              <button id="send" >提交</button>
          </form>
        </div>
      </div>
    </div>
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/site.js"></script>
    <script type="text/javascript">
            $("#send").click(function(){
                $('#pd').val($("#cate").find("option:selected").text());
                if($("#name").val()==''){
                      alert('请填写主持人名称');
                      return false;
                }
                $("#myform").submit();
            });
    </script>
  </body>
</html>