<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"><!--<![endif]--> 
  <head>
    <meta charset="utf-8">
    <title>好牛后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/site.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div class="container">
      <include file="public:nav" />
      <div class="row">
        <include file="public:left" />
        <div class="span9">
 <!--          <h1>
            请注意
          </h1>
          <div class="hero-unit">
            <h1>
              Well then!
            </h1>
            <p>
               欢迎加入兽性乐园
            </p>
            <p>
              <a href="help.htm" class="btn btn-primary btn-large">加入我们</a> <a class="btn btn-large">或者去死</a>
            </p>
          </div> -->
<!--           <div class="well summary">
            <ul>
              <li>
                <a href="#"><span class="count">3</span> Projects</a>
              </li>
              <li>
                <a href="#"><span class="count">27</span> Tasks</a>
              </li>
              <li>
                <a href="#"><span class="count">7</span> Messages</a>
              </li>
              <li class="last">
                <a href="#"><span class="count">5</span> Files</a>
              </li>
            </ul>
          </div> -->
          <h2>
            会员
          </h2>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  id
                </th>
                <th>
                  姓名
                </th>
                <th>
                  性别
                </th>
                <th>
                  联系方式
                </th>
                <th>
                  操作
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                 250
                </td>
                <td>
                  250
                </td>
                <td>
                  未知
                </td>
                <td>
                  110119120
                </td>
                <td>
                  <a href="#" class="view-link">查看|修改|驱逐</a>
                </td>
              </tr>
            </tbody>
          </table>
<!--           <ul class="pager">
            <li class="next">
              <a href="activity.htm">More &rarr;</a>
            </li>
          </ul> -->
<!--                     <ul class="pager">
            <li class="next">
              More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/site.js"></script>
  </body>
</html>