/**
 * Created by YJss on 2016/12/14.
   内容：本网页为克隆模型，css样式军替换为黑色系!
 * Created by YJss on 2016/12/12.
 内容:1.还原证婚网站Logo和title,隐藏qq登录,直播间-流程增加主持人,直播间-相关视频,数字编号超长设置;

 * Created by YJss on 2016/11/24.
 内容：1.网站title改为goto.live;2.网站Logo改为谷兔;3.直播间tabs子页顺序为流程->评论->人气->视频;4.点赞不限次数;5.tabs标题栏高度降低;6.取消红包和点赞按钮,点赞使用点击数字激活.
 */
@charset "utf-8";
*{padding:0; margin:0; box-sizing:border-box; outline:none; table-layout:fixed; word-break:break-all;}
body{font:12px "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif; background:#f8f8f8;margin:0;padding:0;-webkit-overflow-scrolling:touch;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
html{font-size:12px;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling: touch;}
li{list-style:none;}
img{border:none;}
td{max-width:0;}
input,select,label,textarea,button,input[type="submit"],input[type="button"],input[type="text"],input[type="password"]/*,input[type="radio"]*/{ vertical-align:middle;font:inherit;-webkit-appearance:none;border:none;background:none;outline:none;margin:0;}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;}
ul,li,dl,dt,dd {margin:0;padding:0;border:none;list-style:none;}
input{border:none;}
/*input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px #fde inset;}*/
em,i{font-style:normal;}
a{text-decoration:none;color:#333;}
a:active{background-color:transparent;outline:none;}
a:hover{text-decoration:none; color:#333; background-color:transparent;}
p{color:inherit; font-size: inherit; margin:0;padding:0;}
/*button[type="button"]:hover{background:#fff;}
button[type="button"]:active:hover{background:#fff;}*/
.single_text{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.L{float:left;}
.R{float:right;}
.center{margin:0 auto;}
.clear:after{visibility:hidden;clear:both;display:block;height:0;content:"";}
/*点击加载更多样式*/
.moreBtn.disabledbtn{color:#868686;}
.moreBtn.disabledbtn:hover,
.moreBtn.disabledbtn:active,
.moreBtn.disabledbtn:focus,
.moreBtn.disabledbtn:active:hover,
.moreBtn.disabledbtn:active:focus {color:#868686;background-color: #eee;}
/***自定义img***/
.selfImg{max-width:100%;height:auto;}
/***自定义字体大小***/
html {font-size: 62.5%; /* 10÷16=62.5% */}
@media only screen and (max-width: 480px){
    html {font-size: 80%!important; /* 15.04÷16=94% */}
}
@media only screen and (min-width: 481px){
    html {font-size: 94%!important; /* 15.04÷16=94% */}
}
@media only screen and (min-width: 561px){
    html {font-size: 109%!important; /* 17.44÷16=109% */}
}
@media only screen and (min-width: 641px){
    html {font-size: 125%!important; /* 20÷16=125% */}
}
.btn:focus, .btn:active:focus{outline:none;}    /**清除Boot下Btn的outline**/
#navBox .navSet_txt:hover{background-color:transparent; color: #111;}    /*清除boot移动端hover点击样式*/

/*******CSS_star*********/
#navBox a.pageTitleActive{color:#111;}
#navBox a.pageTitleActive p{color:#111;}
/*首页nav part*/
#navPart{position:relative;top:0;}
.brand{display:inline-block;width:100px;height:98px;background:url('../img/hlzb_LOGO_01.png') no-repeat ;background-size:cover;}
.brand2{display:inline-block;float:right;width:198px;height:98px;background:url('../img/hlzb_LOGO_02.png') no-repeat ;background-size:cover;}
.brandBox{padding-left:0;text-align:right;}
.navLine{width:100%;height:2px;background-color:#111;margin-top:1px;}
.dropBoxLine{height:63px;border-right:1px solid #ebebeb;padding-left:0;padding-right:0;position: relative; border-bottom: 1px solid #ebebeb;}
.leftBoxline{height:63px;border-left:1px solid #ebebeb;position:absolute;top:0;left:0;}
.drop_link{font-size:0.9rem;text-align:center;vertical-align:middle;margin-top:11px;margin-left: 1px; background: url("../img/downicon_03.png") 88% center no-repeat;}
#navBox .drop_link:hover{background:transparent url('../img/downicon_03.png') 88% center no-repeat;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: transparent;}
.locoLogo{display:inline-block;width:16px;height:16px;background: url("../img/hlzb_loca.png");margin-top:4px;margin-right:5px;vertical-align:text-top;}
.leftMore{margin-left:20px;}
#navBox .navSet_txt{font-size:1rem;padding-left:0;padding-right:0;text-align:center;color:#777;}
.navSet_txt_sub{font-size:0.6rem;color: #bbb;}
@media only screen and (max-width: 767px){
    #navBox{background:#f8f8f8;}
    .navSet_txt_sub{display:inline-block;}
    #navBox .navSet_txt{text-align:left;font-size:1.4rem;}
}
@media (min-width:480px) and (max-width:767px){
    #navBox .navSet_txt{font-size:1.2rem;}
}
@media only screen and (min-width: 768px){
    .titleLine{border-right:1px solid #ebebeb; border-bottom: 1px solid #ebebeb;}
}
#navBox .noMargin{margin: 0;}
.myNavBarNoBorder{border:none;}
.noPaddRL{padding-right:0;padding-left:0;}
.noPaddRt{padding-right:0;}
/**/
.carouselBoxBg{/*background-image:url("../img/hlzb_firstp_bg.jpg");*/padding:0; padding-top: 12px;}
.carouselBg{width:100%;margin:0;}
#myCarousel .newCarousel-imgBox{padding: 0 1% 0 0;position:relative;}
#myCarousel .newCarousel-box{width:100%;position:static;margin:0;padding:0;}
#myCarousel .newCarousel{width:100%;height:0;padding:0 0 46.8% 0;background:none;border-radius:0;border:none;margin:0 0 10px 0;position:relative;text-indent:0;overflow:hidden;}
#myCarousel .newCarousel.active  .newCarousel-bg{background-color:rgba(0,0,0,0);border:3px solid #111;}
#myCarousel .newCarousel.active  .newCarousel-bgTxt-B {color:#000;text-shadow:1px 1px 0 #fff;}
#myCarousel .newCarousel.active  .newCarousel-bgTxt-S {color:#000;text-shadow:1px 1px 0 #fff;}
.newCarousel-bg{width:100%;height:100%;position:absolute;top:0;left:0;background-color: rgba(0,0,0, .4);}
.newCarousel-bg:hover{background-color: rgba(0,0,0, .4);}
.newCarousel-bgTxt{position:absolute;top:30%;left:0;right:0;margin:0 auto;color:#fff;text-align:center;}
.newCarousel-bgTxt-B{font-size:1rem;}
.newCarousel-bgTxt-S{font-size: 0.8rem;}
.img-shade{width:100%;height:100%;background:rgba(0, 0 ,0, .4) url("../img/hlzb_load.png") no-repeat center center;position:absolute;top:0;}
.newCarousel-imgBox:hover .img-shade{display: none;}
.pointerImg-respon{min-height:87px; }
.carouselImgBox{height:0;padding-bottom:66.7%;}
@media (max-width: 767px){
    #myCarousel .newCarousel-imgBox{padding:0;}
    .pointerImg-respon {min-height:10px; }
}
@media (min-width: 768px) and (max-width: 1199px){
    .carouselImgBox{padding-bottom: 69%;}
}
@media (min-width:990px ) {
    .pointerImg-respon{min-height:112px; }
    #myCarousel .newCarousel{margin-bottom:13px; }
    .newCarousel-bgTxt-B{font-size: 1.1rem;}
}
@media (min-width:1200px ) {
    #myCarousel .newCarousel{padding-bottom:46%; }
    .pointerImg-respon{min-height:134px; }
}
/***主页-移动端单独样式***/
.mo-navBg{position:relative;background:url("../img/hl_small_bg_02.png") no-repeat;background-size:cover;}
.mo-navBg-title{display:inline-block;margin:16px 12px;}
.mo-navBg .mo-navBg-title .drop_link2{color: #fff; font-size:1.1rem;text-align:center;vertical-align:middle;}
.mo-navBg .mo-navBg-title .drop_link2:hover{background-color:transparent;}
.locoLogo2{display:inline-block;width:16px;height:16px;background:url("../img/hlzb_loca.png") -18px 0;margin:4px 5px -3px 0;}
    /*导航按钮的重写*/
#navPart .mo-navBtn{border:none;margin-right:8px;}
.navbar-default .mo-navBtn:hover, .navbar-default .mo-navBtn:focus{background-color:transparent;}
#navPart .mo-navBtn .mo-navBtnSub{width:35px;height:24px;background:transparent url("../img/naviBtn.png") no-repeat center;}
.mo-navLogo{position:absolute;top:14%;left:50%;margin-left:-32px;}
.mo-navLogo_sub1{width:65px;height:65px;border-radius:65px;background:url("../img/hlzb_LOGO_01.png") no-repeat;background-size:cover;position:absolute;top:0;left:0;z-index:99;}
.mo-navLogo_sub2{width:65px;height:65px;border-radius:65px;background-color:#eee;position:absolute;top:4px;left:0;z-index:10;}
.banner{height:0;padding-bottom:15.5%;background: url("../img/hl_1_05.png");background-size:contain;margin:3px 0 20px 0 ;}
.float-adv{display:none;width:176px;height:420px;position:fixed;top:220px;left:0;}
.float-adv2{display:none;width:176px;height:420px;position:fixed;top:220px;right:0;}
@media screen and (max-width: 420px){
    .dropdown-menu{min-width: 78px;}
}
/*********文字图片公共部分**********/
.img-center{margin:0 auto; width: 100%;}
/***主页-LIVE SHOW 部分***/
.showPartBg{background-color: #fff;}
.tab-titleTxt{color:#ccc;font-size:1.6rem;margin-top:4%;}
.tab-titleImg{width:260px;height:62px;background: url("../img/hl_1_10.png");background-size: cover;margin: 0 auto 4.5%;color: #fff;font-size: 1.2rem;text-align: center;line-height: 80px;_line-height: 80px; /*IE8*/}
.showSubBox{padding-right:10px;margin-bottom:12px;position:relative;}
.showSubImg{padding:0;margin:0 auto; width: 100%;max-height: 186px;}
.showSubTxtBox{border:1px solid #ccc;border-top:none;padding:3% 10px;}
.showSubTxtTitle{font-size: .8rem;/*font-weight:600;*/margin-bottom:3px; color: #333333;}
.showSubTxtBox span{color:#888;font-size: .7rem;}
.spaceLogo{width:142px;height:70px;background:url("../img/hl_1_20.png");background-size:cover;margin:20px auto 0;}
@media screen and (max-width: 420px){  .spaceLogo{width:90px;height:42px;}  }
/****主页-精彩视频部分****/
.showPartBg2{background-color:#f8f8f8;}
.showSubTxtTitle2{padding-top:5%;}
.boxSizeFixed{padding:4px 0 0 6px;}
.showSubTxtdate{font-size: .7rem;display:inline-block;color:#888;}
/****主页-排行榜部分***/
.rank-subBox{overflow:hidden;position:relative;margin-bottom:4px;z-index:10;}
.half-mask{background-color:rgba(0, 0, 0, 0.4);height:100%;width:100%;color:#fff;text-align:center;line-height:18px;position: absolute;top:73%;left:1px;padding:3px;margin:0 auto;z-index:99;transition: top 200ms;}
.half-mask .showSubTxtTitle{ color: #fff;}
.half-mask:hover{top:0;}
.rankStar{width:47px;height:39px;background:url("../img/rate_logo.png") 0 0;position:absolute;top:-20px;right:5px;z-index:999;}
.rankStar2{width:47px;height:39px;background:url("../img/rate_logo.png") -50px 0 ;position:absolute;top:-20px;right:5px;z-index:999;}
.rankStar3{width:47px;height:39px;background:url("../img/rate_logo.png") -96px 0;position:absolute;top:-20px;right:5px;z-index:999;}
.rank-enterLink{display:inline-block;width:100px;height:30px;margin:22% 0 0 11%;}
/****主页-服务部分****/
.serviceLogo{width:330px;height:40px;line-height:42px;background: url("../img/hl_1_23.png");background-size: cover;color:#fff;font-size:.9rem;padding-left:4%;margin:4% 0;}
.host-rate{margin:4% 0;text-align:center;}
.hostRates5-0{width:85px;height:16px;background:url("../img/rate_star.png") no-repeat ;margin:0 auto;}
.hostRates4-1{width:85px;height:16px;background:url("../img/rate_star.png") no-repeat -17px;margin:0 auto;}
.hostRates3-2{width:85px;height:16px;background:url("../img/rate_star.png") no-repeat -34px;margin:0 auto;}
.hostRates2-3{width:85px;height:16px;background:url("../img/rate_star.png") no-repeat -51px;margin:0 auto;}
.hostRates1-4{width:85px;height:16px;background:url("../img/rate_star.png") no-repeat -68px;margin:0 auto;}
.hostRates0-5{width:85px;height:16px;background:url("../img/rate_star.png") no-repeat -85px;margin:0 auto;}
.footer-banner{width:100%;height:0;padding-bottom:15.5%;background:url("../img/hl_1_29.png");background-size:cover;}
.hostImgBox{height:0;padding-bottom:90%;overflow: hidden;}
/***主页-footer部分****/
.footer-logo{width:108px;height:96px;background:url("../img/hlzb_LOGO_footer.png");background-size:cover;margin:26px auto 0;}
.footer-noMar{margin: 0;}
.QR_Code{width:83px;height:83px;background: url("../img/hl_1_32.png");background-size: cover;margin:36px auto 0;}
.footer-txt{font-size:.7rem;text-align:center;line-height:26px;padding-top:5%;}
/*******重写响应样式*******/
@media only screen and (min-width: 1550px){
    .float-adv{display: block}
    .float-adv2{display: block}
}
@media only screen and (min-width: 1200px){
    .showSubBox{margin-bottom:1.7%;}
}
@media (min-width:990px) and (max-width: 1199px){/*herong*/
    .showSubTxtTitle2{padding-top: 4%;}
}
@media only screen and (max-width:990px){
    .ipadNopaddRL{padding:0}
    .showSubBox{padding:0 5px 0 5px;margin-bottom:2.7%;}
    .showSubTxtBox{padding:2px 6px;}
    .showSubTxtTitle{font-size:0.7rem;/*font-weight:600;*/margin-bottom:2%;/*padding-top: 3%;*/}
}
@media only screen and (max-width: 767px){
    .ipadNopaddRL{padding:0 1%;}
    .sm-addPadd{padding:0 15px;}
    .showSubBox{padding:0 5px 0 5px;margin-bottom:4.3%}
    .showSubTxtBox{padding:2px 3px;}
    .showSubTxtTitle{font-size:0.9rem;/*font-weight:600;*/margin-bottom:2.5%;padding-bottom:2%;/*padding-top: 5%;*/}
    .rankStar{top:0;right:3px;}
    .rankStar2{top:0;right:3px;}
    .rankStar3{top:0;right:3px;}
    .small-Block{display: inline-block;}
}
@media only screen and (max-width: 650px){
    .sm-addPadd{padding:0;}
    .showSubBox{padding:0 5px 0 5px;margin-bottom:5.5%}
    .showSubTxtBox{padding:2px 6px;}
    .showSubTxtTitle{font-size:.9rem;/*font-weight:600;*/margin-bottom:1%;padding-bottom:2%;padding-top: 4%;}
    .serviceLogo{width:248px;height:28px; padding-left:7%;line-height: 28px;}
}
@media  (min-width: 400px) and (max-width: 440px){
    .sm-addPadd{padding:0;}
    .tab-titleTxt{margin-top:4.5%;font-size:1.6rem;}
    .tab-titleImg{font-size:1.3rem;width:186px;height:44px;line-height:58px;margin-bottom:6%;}
    .sm-noPaddLf{padding:0 4px;}
    .showSubBox{padding:0 5px 0 5px;margin-bottom:3.2%;}
    .showSubTxtTitle{font-size:1.2rem;/*font-weight:600;*/margin-bottom:0;padding:2% 0;}/*herong*/
    div.liveShowSubBox:nth-child(3){margin-top:3.5%;}
    .showSubTxtBox{padding:1px 6px;}
    .serviceLogo{width:248px;height:28px;font-size:.9rem; padding-left:7%;line-height: 28px;}
}
@media (min-width: 328px) and (max-width: 375px){
    .showSubBox{margin-bottom:4.5%}
    .showSubTxtTitle{margin-top:2.5%; padding-top: 0}
    .showSubTxtTitle2 { padding-top:0; }
}
@media only screen and (max-width: 327px){
    .sm-addPadd{padding:0;}
    .showSubBox{padding:0 5px 4px 5px;margin-bottom:4%}
    .showSubTxtBox{padding:1px 6px;}
    .showSubTxtTitle{font-size:.9rem;/*font-weight:600;*/margin:0;padding:1.7px 0;}
    div.liveShowSubBox:nth-child(3){margin-top:0; }

}
.I-popBox{position: absolute;top: 20%;background-color: #fff;left: 0;right: 0;margin: 0 auto;width: 72%;border-radius: 8px;box-shadow: 1px 1px 1px #000;font-size: 1.2rem;padding: 10px 20px;display: none;z-index: 9999;}
.I-popBox ul{margin: 20px 0 5px 0;}
.I-popBox ul li{display: inline-block;width: 48%;text-align: center;cursor: pointer;;}
.I-popBox ul li:first-child{border-right: 1px solid #ddd;}
.I-frontMask{width:100%;height:1000%;background-color: rgba(68, 67, 66, 0.96);position: absolute;top:0;z-index: 999;display: none;}
/***直播页-主图****/
.L-mainImg{width:100%;height:0;padding-bottom:26.3%;background:url("../img/live_main_02.jpg");background-size:cover;}
.L-mainImg-xs{width:100%;height:0;padding-bottom:42.3%;background:url("../img/live_main_03.jpg");background-size:cover;}
.L-addMar{margin-top:3%;}
.L-liveTitle{display:table;width:100%;background:url("../img/live_main_05.png");background-size:cover;margin-bottom:3%;padding:8px 0 8px 5%;color:#111;font-size:1.2rem;}
.L-liveTitleSub2{display:inline-block;margin-left:6%;color:#999;font-weight:600;font-size:1rem;}
.L-liveShowBox{padding:0 5px;margin-bottom:2%;}
#imageBox{height:0;padding-bottom:66%;overflow:hidden; }
@media (min-width: 550px) and (max-width: 767px){#imageBox{padding-bottom:50%;}}
.L-showSubTxtdate{font-size:.7rem;display:block;color:#aaa;font-weight:200;}
.L-liveCount{display:block;color:#111;margin:2% 0;padding:3% 0;border-top:1px solid #111;font-size:.8rem;}
.L-liveCount b{ font-weight: normal;}
.L-liveShowTxt{border:1px solid #ddd;text-indent:5px;margin-top:0;}
.L-liveTitleDate{display:inline-block;float:right;width:430px;font-size:.9rem;margin-top: 3px;}
.L-dateBoxType{width:23%;border:1px solid #666;font-size:.6rem;padding:0 7px;color:#a0a0a0;background-color:#fff;}
.L-dateDone{display:inline-block;padding: 0 12px;margin:0 0 0 20px;border:1px solid #999;cursor:pointer;}
#L_dateDone:hover, #L_dateDone:active, #L_dateDone:active:hover{border:1px solid #ddd;background:#fff; }
#W_dateDone:hover, #W_dateDone:active, #W_dateDone:active:hover{border:1px solid #ddd;background:#fff; }
.L-liveTitleDate-xs{float:right;margin-right:4%;}
/*增*/
.L-dateDone-xs{width:48%;display:inline-block;margin: 8px 5px 0; padding:2px 10%;border:1px solid #ddd;font-size:12px;cursor:pointer;}
.L-dateDoneBg-xs{background-color:#333;color:#fff;}
#L-dateBox3{width:27%;margin:0;padding:0 7px;border:1px solid #ddd;}
#L-dateBox4{width:27%;margin:0;padding:0 7px;border:1px solid #ddd;}
#dateBox_xs{color:#777;}
.dateBox-offLine{display:inline-block;margin:0 6px;}
.moreBtn{margin-top:4%;margin-bottom:6%;font-size:0.9rem;padding:4px 12%;background:#eee;border:none;border-radius:6px;color:#444;}
.moreBtn:hover{background:#eee;color:#444;}
.moreBtn:active:hover{background:#eee;color:#444;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0);}
.btn-default.moreBtn[disabled]:hover{background-color:#eee; }
#model-dateBox .model-dateBox{border-radius:0;width:100%;left:0;margin:46% 0 0; }
.noMargL{margin-left:0;}
.noMargR{margin-right:0;}
.L-liveTitle-dateWindow{text-align:left;padding-left:16px;font-size:1rem; }
.L-liveTitle-dateFakeBtn{float:right;margin-right:10px;color:#999;font-size:14px;}
.L-liveTitle-dateFakeBtn>span{color:#999;}
#dateBox_xs>form{margin-top:4%;padding:0 2%;font-size:1rem;}
#dateBox_xs>form>p{margin:5% 0 3%;padding:1% 0 0;border-top:1px solid #ddd;}

@media only screen and (min-width: 1200px){
    /*.L-liveShowTxt{width:260px;}*/
}
@media only screen and (max-width: 768px){
   .L-liveTitle{font-size:16px;}
}
/***************************************************************/
/***注意！！！！---bootstrap的响应布局不含540px-767px之间，自定义重写***/
@media (min-width: 540px) and (max-width: 767px){
    /*首页图片下方框文字*/
    .rank-subBox{width:264px; }
    .half-mask{width:259px;}
    .boxSizeFixed{width:260px;margin:0 auto;}
    .showSubTxtBox{width:260px;}
    .L-liveShowTxt{width:260px;}
    .showSubImg{ width: 260px;}
}
/***************************************************************/
/****个人中心页*****/
/*登陆*/
.Lg-loginTitle{color:#333;font-size:1.5rem;margin-top:4%;}
.Lg-loginLogo{width:260px;height:62px;background:url("../img/hl_1_10.png");background-size:cover;margin-bottom:3.4rem;position:relative;}
.Lg-loginLogo-txt{color:#fff;font-size:1.2rem;text-align:center;line-height:80px;}
.Lg-loginBg{width:608px;height:331px;background:url("../img/loginBg.png");background-size:cover;}
.Lg-loginInfo{font-size:1.2rem;height:0;padding-bottom:40%;position: relative;}
.Lg-userPhone{position: absolute;top:22%;left:10%;}
#userPhone:-webkit-autofill ,#userPwd:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px #fde inset;}
.Lg-userPwd{position: absolute;top:54%;left:10%;}
.Lg-regVip{color:#333;position:absolute;top:90%;left:18%;font-size:.9rem;}
.Lg-regVip:hover{color:#333;}
.Lg-loginDone{width:18%;height:40%;border-radius:50%;position:absolute;top:82%;left:41.2%;text-align:center;color:#fff;padding-top:4.5%;}
.Lg-loginDone:hover,.Lg-loginDone:focus{color:#fff;outline: none;text-decoration: none;}
.Lg-forgetPwd{color:#666;position:absolute;top:90%;right:15%;font-size:.9rem;}
.Lg-forgetPwd:hover{color:#666;}
.Lg-otherLogin{height:0;padding-bottom:8rem;font-size:1.2rem;margin:5% 0 16%;position:relative;}
span.Lg-spaceLine{display:inline-block;width:28%;height:1%;border-bottom:1px solid #a6a6a6;margin-bottom: 6px;}
.Lg-spaceLine-txt{margin:0 10px;}
.Lg-weiboLogin-box{position:absolute;top:30%;left:20%;text-align: center;}
.Lg-weiboLogin{display:inline-block;width:90px;height:90px;background:url("../img/weiboBg.png");background-size:cover;}
/* qq登录隐藏,微信移至qq位置,改动right,删掉left ,移动端尺寸的rightwei 10%;见*/
.Lg-weixinLogin-box{/* width:98px; */position:absolute;top:30%;right:20%;/* left:0; */margin:0 auto;text-align:center;}
.Lg-weixinLogin{background:url("../img/weixinBg.png");background-size:cover;}
.Lg-qqLogin-box{position:absolute;top:30%;right: 20%;text-align: center;}
.Lg-qqLogin{display:inline-block;width:90px;height:90px;background:url("../img/qqBg.png");background-size:cover;}

.Lg-weixinLogin:hover{}
.Lg-txtTitle {width:5em;display: inline-block;}
.Lg-txtTitle  em {width: 1em;display: inline-block;height: 1em;}
/*注册*/
.Lg-regInfo{padding-bottom:72%;}
.Lg-regBg{width:608px;height:501px;background:url("../img/regBg.png");background-size:cover;margin-bottom:7%;}
.Lg-regUserPhone{position: absolute;top:12%;left:10%;}
.Lg-regValidate{position: absolute;top:29%;left:10%;}
.Lg-regUserPwd{position: absolute;top:46%;left:10%;}
.Lg-REregUserPwd{position: absolute;top:64%;left:10%;}
.Lg-regDone{width:18%;height:20%;border-radius:50%;position:absolute;top:88%;left:41%;text-align:center;color:#fff;padding-top:16px;font-size:1rem;}
.Lg-regDone:hover, .Lg-regDone:focus, .Lg-regDone:active{color:#fff;text-decoration: none;outline: none;}
.sendValid{color:#333;border:1px solid #666;background-color:#f8f8f8;position:absolute;top:12%;right:6%;}
.sendValid:hover, .sendValid:focus, .sendValid:active:focus, .sendValid:active:hover{color:#333;border:1px solid #666;background-color:#f8f8f8;}
/*忘记密码*/
.F-sendValidImg{width:24%;position:absolute;top:26%;right:6%;display:inline-block;cursor:pointer;}
.F-sendValidImg>img{width:100%;height:auto;}
.F-valiInputBox>input{width:50%;}
.F-promptTxt{color:#999;font-size:1rem;font-weight:600;position:absolute;top:63%;left:9%;}
@media screen and (max-width:412px ){
    .F-promptTxt{left:10%;width:83%;font-size:12px;}
}
.F-promptTxt>span{color:red;}
.F-regVip{left:15%;}
/*观看和邀约历史记录*/
.H-topBg{width:100%;height:0;padding-bottom:27.4%;background:url("../img/view_historyBg.jpg");background-size:cover;border:1px solid transparent;}
.H-personalInfo{margin:12% 4% 0;}
@media only screen and (max-width: 320px){.H-personalInfo{margin:10% 2% 0;}}

.H-personalInfo>div{display:inline-block;padding:0;}
.H-userLogo{background:#fff;padding:10px;border-radius:10px;box-shadow:0 0 4px 1px #ddd;max-width: 130px;max-height: 130px;}
@media screen and (max-width: 350px){.H-userLogo{max-width: 120px;max-height: 120px;}}
@media screen and (min-width: 700px){  .H-userLogo{max-width:240px;max-height:240px;}  }
.H-personalInfo>div:last-child>h4{font-size:1.2rem;font-weight:600;margin:4% 10%; }
.H-personalInfo>div:last-child>p{display:inline-block;background:url("../img/view_hidtory_iconlist.png") 0 -20px no-repeat;line-height:21px;padding:0 12px 5px;margin-left:10%;color:#666;font-size:1rem;}
.H-personalInfo>div:last-child>a{display:inline-block;background:url("../img/view_hidtory_iconlist.png") 0 0 no-repeat;padding:0 0 0 23px;line-height:21px;float:right;color:#666;font-size:1rem;  }
#historyList{margin:6%;}
#historyList>div.row>ul{border:none;}
#historyList>div.row>ul>li{padding:0;border:2px solid #666;border-radius:25px 0 0 25px;}
#historyList>div.row>ul>li>a{border:none;background-color:transparent;color:#666;font-size:1.1rem;  text-align:center;   }
#historyList>div.row>ul>li:last-child{border-radius:0 25px 25px 0;}
#historyList>div.row>ul>li.active {background:#666; }
#historyList>div.row>ul>li.active>a {color:#fff;outline:none;}
ul.historyList>li{margin:3%;border-bottom:1px solid #eee;padding-bottom:2%;position: relative;}
ul.historyList>li>img{float:left;margin-right:5%;}
ul.historyList>li>a{padding:0;margin-right:6%;float:left;}
.H-view-moreBtn{}

@media (min-width: 768px) and (max-width: 1199px) {  ul.historyList>li>a{margin-right:4%; }  }
@media screen and (min-width: 1200px){
    ul.historyList>li>a{margin-right:-1.5%; }
    ul.historyList>li>img{margin-right:4%;}
    .H-personalInfo>div:last-child>p{margin-left:2%;}
    .H-personalInfo>div:last-child>h4{margin-left:2%;}
}
ul.historyList>li>div{padding:3px 0;}
ul.historyList>li>div>b{font-size:1.1rem;display:block;line-height:1.5em;height:3em;overflow:hidden;font-weight:normal;}
ul.historyList>li>p{position:absolute;bottom:30px;left:260px;font-size:0.8rem; }
ul.historyList>li>p>span{display:inline-block;margin-right:7px;}
@media (max-width: 767px){
    ul.historyList>li>img{width:35%;}
    /*ul.historyList>li>div>b{font-size:15px;}*/
    ul.historyList>li>p{font-size:13px;bottom:10px;left:40%; }
}

#historyList li div.H-listBox-left{width: 35%;display: inline-block;height: 7rem;overflow: hidden;vertical-align: top;}
#historyList li div.H-listBox-left a{display:block;width:100%;height:100%;padding:0;}
#historyList li div.H-listBox-left img{width: 100%;max-height: 90px;}
#historyList li div.H-listBox-right{width: 65%;display: inline-block;vertical-align: top;padding: 0 3%;position: relative;height: 7rem;}
#historyList li div.H-listBox-right p{position: absolute;bottom: 0;left: 5%}

@media only screen and (min-width: 500px){
    #historyList li div.H-listBox-left{height: 8rem;}
    #historyList li div.H-listBox-right{height: 6rem;}
    #historyList li div.H-listBox-right p{font-size: 1rem;}
    #historyList li div.H-listBox-left img{max-height: 160px;}
}
@media only screen and (min-width: 990px){
    #historyList li div.H-listBox-left{width: 25%}
    #historyList li div.H-listBox-right{width: 75%}
}
@media only screen and (min-width: 1200px){
    #historyList li div.H-listBox-left{width: 22%}
    #historyList li div.H-listBox-right{width: 78%}
}
/*邀约详细记录*/
ul.H-inviteList{margin-top:10%;}
ul.H-inviteList>li:first-child{border-bottom:1px solid #ccc;font-size:0.9rem;font-weight:600;padding-bottom:3%;}
ul.H-inviteList>li:first-child>span{display:inline-block;text-align:center;padding:0;}
ul.H-inviteList>li:not(:first-child){margin:2% 0;}
ul.H-inviteList>li:not(:first-child) span{text-align:center;line-height:4.5rem;font-size:.9rem;padding:0;}
ul.H-inviteList>li:not(:first-child)>span:nth-child(2){padding:0 3.5% 20%;height:0;overflow:hidden;}
ul.H-inviteList>li:not(:first-child)>span:nth-child(3){font-weight:600;}
ul.H-inviteList>li:not(:first-child)>span:last-child>p{display:inline-block;margin-left:10px;  }
ul.H-inviteList>li:not(:first-child)>span:last-child{color:#666;}
.H-inviteList-loadMore{margin:5%;text-align:center;}
.H-inviteList-loadMore>button{background-color:#eee;margin-top:4%; margin-bottom:6%; font-size:0.9rem; padding:4px 16%;}
.H-inviteList-loadMore>button:hover ,
.H-inviteList-loadMore>button:active ,
.H-inviteList-loadMore>button:focus ,
.H-inviteList-loadMore>button:active:hover,
.H-inviteList-loadMore>button:active:focus {border-color:#ccc;background-color: #eee;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0); }

/**个人信息编辑页**/
.showPartBg3{/*background:#ffecf7;*/}
.P-infoBox{background:#fff;padding:4% 4% 0;margin-bottom:6%;}
.P-infoBox>li{border-bottom:1px solid #ccc;font-size:1rem;vertical-align:middle;padding:.8rem 2%; cursor:pointer; }
.P-infoBox>li:first-child{position:relative;}
.P-infoBox>li:last-child{border:none;}
.P-infoBox>li:first-child>em{position:absolute;top:44%;}
.P-infoBox>li:nth-child(6){line-height:20%; }
.P-infoBox>li>div{float:right;}
.P-infoBox>li>div>a{padding-left:15px;color:#b5b5b5;cursor:pointer;}
.P-infoBox>li>div>a:hover{text-decoration: none;}
.P-infoBox>li>div>img{display:inline-block;max-width:130px;max-height:130px;}
.P-infoBox>li>div>span{display:inline-block;color:#666;max-width:130px; }
#phone_pwdBox{padding-top:0;margin-bottom:0;}
#phone_pwdBox>li>em{position: relative;}
.P-exitBg{display:table;width:100%;background:url("../img/exitBg_xs_02.jpg") no-repeat;background-size:cover;text-align:center;position:fixed;bottom:0;}
@media screen and (min-width: 768px){
    .P-exitBg{position:relative;}
}
.exitBtn{color:#fff;font-size:1.2rem;margin:1.8% 0;}
.P-exitBg .exitBtn:hover, .P-exitBg .exitBtn:focus, .P-exitBg .exitBtn:active:hover {background:transparent;color:#fff;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0); }
/*个人信息编辑页--弹窗*/
@media screen and (min-width: 768px){/*herong*/
    .my-modal-content{width: 80%;font-size: 18px;}
    .my-modal-content span{font-size: 18px;}
    .my-modal-content .btn{font-size: 16px}
}
@media screen and (max-width: 768px){/*herong*/
    .my-modal-content{width: 80%;font-size: 18px;}
    .my-modal-content span{font-size: 18px;position: relative;top: -6px;}
    .my-modal-content .btn{font-size: 16px}
}
@media screen and (max-width: 992px){/*herong*/
    .my-modal-content span{font-size: 18px;position: relative;top:-8px;}
}
#postMsg:hover,#postMsg:active:focus{background:#f8f8f8;color:#333;  }
/*herong*/.modal-dialog.modal-lg{width: 450px;margin-top: 18%;margin-left: auto;margin-right: auto;}
.my-modal-Content-userLogo{text-align:center;margin-top:37%;
    /*herong*/font-size: 18px;}
.my-modal-Content-userLogo>form>p{border-bottom:1px solid #ccc;padding:.8% 0;margin-bottom: 3%;}
.my-modal-Content-userLogo>form>h4{margin:5% 0 2%;color:#ff6005;
    /*herong*/font-size: 16px}
#updateHeadImg .title{border-bottom:1px  solid #ccc;margin:3%;padding:0 0 3% 0;font-size:18px;}
.my-modal-Content-userLogo>form>a{display:inline-block;padding:5px 20px;border-radius:6px;border:1px solid #ddd;position:relative;vertical-align:middle;margin:0;
    /*herong*/font-size: 16px;}
@media screen and (max-width: 450px){/*herong*/
    .modal-dialog.modal-lg{width:90%}
    .my-modal-content{width:100%;font-size: 16px;}
    .my-modal-content span{font-size: 16px;position: relative;top:1px;}
    .my-modal-content .btn{font-size: 1px;margin-top: 3px;}
    .my-modal-Content-userLogo>form>h4{font-size: 14px;}
}
@media screen and (min-width: 450px) and (max-width: 570px){/*herong*/
    .my-modal-content span{font-size: 16px;position: relative;top:-5px;}
}
@media screen and (min-width: 570px) and (max-width: 650px){/*herong*/
    .my-modal-content span{font-size: 16px;position: relative;top:-5px;}
}
@media screen and (min-width: 650px) and (max-width: 660px){/*herong*/
    .my-modal-content span{font-size: 16px;position: relative;top:-10px;}
}
.my-modal-Content-userLogo>form input{background:#fff;border:1px solid #ddd;color:#000;border-radius:6px;padding:5px 14%;margin-left:12%;
    /*herong*/font-size: 16px;}
.my-modal-Content-userLogo>form input[type=file]{width:95%;height:95%;margin:2% auto;display:inline-block;position:absolute; right:0; top:0; font-size:30px; opacity:0; filter:alpha(opacity=0);}
.my-modal-Content-userLogoCancel{text-align:center;font-size:1.4rem;margin-top:1%;height: 50px;line-height: 47px;overflow:hidden;}
.my-modal-Content-userLogoCancel>button{padding:0 16% 5px;
    /*herong*/font-size: 18px;}
.P-userLogo-alert{color:red;text-align:center;opacity:0;transition:opacity 1s ease;
    /*herong*/font-size: 14px;display: inline-block;margin-bottom: 5px;}
/*昵称等资料部分及弹窗*/
.my-modal-content{text-align:center;font-size:1.4rem;margin-top:20%;
    /*herong*/margin-right: auto;margin-left: auto;}
.my-modal-content>p{border-bottom:1px solid #ccc;margin:3%;padding-bottom:3%;
    /*herong*/font-size: 18px;}
.my-modal-content>h6{width:94%;padding:0 8px 6px 50px;text-align:left;display:inline-block;border-bottom:1px solid #ddd;font-size: .8em;line-height:1.5em;text-indent:-36px;}
.my-modal-content>form{position:relative;}
.my-modal-content>form>span{cursor:pointer;top:3px;color: #9a9a9a;}
.my-modal-content>span:before{font-size:1.5rem;vertical-align: middle;}
.my-modal-content>ul{margin-top:3%;border-top:1px solid #ccc;}
.my-modal-content>ul>li{display:inline-block;width:49%;padding:3% 0;border-right:1px solid #ccc;color:#9a9a9a;cursor:pointer;
    /*herong*/font-size: 18px;}
.my-modal-content>ul>li:last-child{border:none;color:#333;}
.P-chooseGenderBox>div{display:inline-block;margin:2% 12%;}
.P-chooseGenderBox>div>label{padding-left:12px;
    /*herong*/font-size: 18px;}
.P-changeNumBox>div{margin:0 12%;}
.P-addrPopBtn{float:left;margin-left:3%;padding:1% 3%;font-size:1.1rem;}
#myModal_addr .P-addrPopBtn:hover, #myModal_addr .P-addrPopBtn:active:hover{background:#5bc0de; }
.bs-example-modal-lg-addr>div>div>form{margin:4% 1%;opacity: 1}
input.P-inputBox{border:1px solid #ddd;margin-right:1%;
    /*herong*/
    font-size:.9rem;padding:3px 6px;color: #676464;}
/*绑定手机*/
#myModal_pwd .P-addUserPhone input{width: 60%;}/*herong*/
.P-addUserPhone>form{text-align:left;margin:2% 0;}
.P-addUserPhone>form>label{margin:6px 9% 0 5%;float:left;
    /*herong*/ font-size: 17px;}
.P-addUserPhone>form:nth-child(4)>label{margin-right:5%;}
#myModal_pwd .P-addUserPhone>form:nth-child(4)>label{margin-right:4.5%;}
#smsValidate{margin-left:4%;}
.P-addUserPhone>form>input{width:36%;border:1px solid #ddd;
    /*herong*/font-size:1rem;padding:4px  6px;display:inline-block;margin-top: 3px;}
@media screen and (min-width: 480px){.P-addUserPhone>form>input{font-size: 16px;margin-top: 1px;}}
@media (min-width: 580px) and (max-width: 992px){.P-addUserPhone>form>label{margin-top:9px ;}}
.P-addUserPhone>form>input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px #fff inset;}
#loginPwd:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px #fff inset;}
.P-valiPicture>img{width:24%;}
.P-sendValiSms{font-size:1.1rem;padding:2px 4px;color:#333;border:1px solid #ddd;background-color:#f8f8f8;}
/*验证提示框*/
.P-valiTips{display:none;border:1px solid #ccc;padding:0 1%;font-size:1rem;color:red;position:absolute;top:-20px;left:40%;background:#fff;}
.arrow{width:0;height:0;position:absolute;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #ccc;}
.arrow:after{content:"";width:0px;height:0px;position:absolute;top:-9px;left:-7px;border:7px solid transparent;border-top-color:#fff;}
.P-phoneWarnBox{color:red;font-size:.8rem;font-weight:600;opacity:0;margin:4% 0;}
/*弹窗-大屏样式*/
@media screen and (min-width: 992px) {
    .my-modal-content{margin:30% auto 0;
        /*herong*/ width:80%;font-size:18px;}
    .my-modal-content .btn{font-size: 14px;}/*herong*/
    .P-sendValiSms{margin-left:2%;}
    .P-valiPicture>img{margin-left:2%}
}
/*****人气排行页*******/
.RK-marBott{margin-bottom:6%;}
.RK-rankHotBox{margin-top:8px;}
.RK-rankHotSum{background:url("../img/rank_hot_sum.png") no-repeat;float:right;padding-left:20px;}
.RK-imageBox{height:0;padding-bottom:66%;overflow:hidden; }
.RK-showSubBox{margin-bottom:4%;}
@media (min-width: 540px) and (max-width: 767px){
    .RK-rankHotBox{width:263px;}
    .RK-imageBox{padding-bottom:50%;}
}
@media only screen and (max-width: 650px){
    .Lg-loginTitle{margin-top:12%;}
    .Lg-loginLogo{width:186px;height:44px;}
    .Lg-loginLogo-txt{line-height:56px;}
    .Lg-loginBg{width: 100%;height:0;padding-bottom:54%;}
    .Lg-weiboLogin-box{left:10%;}
    .Lg-qqLogin-box{right:10%;}
    .Lg-weixinLogin-box{right:10%;}
    .Lg-weiboLogin{width:48px;height:48px;}
    .Lg-qqLogin{width:48px;height:48px;}
    .Lg-weixinLogin{width:48px;height:48px;}
    .Lg-regBg{width: 100%;height:0;padding-bottom:82%;margin-bottom:10%;}
    .Lg-regDone{padding-top:2%;font-size:1rem;}
    .sendValid{font-size:1rem;top:10%;padding:2px 6px;line-height: normal;}
}

/******精选视频页********/
.W-mainBg{width:100%;margin-bottom:10%;position:relative;}
.W-mainImg{width:83.6%;}
.W-bannerBox{margin-top:1%;background-color:#f8f8f8;}
#W-dateBox3{width:27%;margin:0 0 0 14px;padding:0 7px;border:1px solid #ddd;}
#W-dateBox4{width:27%;margin:0;padding:0 7px;border:1px solid #ddd;}
/*增*/
#W_dateBox_xs{color:#777;}
#W_dateBox_xs>form{margin-top:4%;padding:0 2%;font-size:1rem;}
#W_dateBox_xs>form>p{margin:5% 0 3%;padding:1% 0 0;border-top:1px solid #ddd;}

#wonderfulPage .W-luckyMoney>span{background-position:bottom;color:#999;}
#wonderfulPage .W-luckyMoney>b{color:#999;}
/*****直播间-直播现场******/
#player{width:100%;position:fixed;z-index:99;top:0;left:0;margin:0 auto; }
@media screen and(min-width: 768px){
    #player{position:relative;}
}
.Lnow-backBtn{display:none;font-size:18px;color:#fff;position:fixed;top:8px;left:8px;z-index:99999;border:1px solid #ddd;border-radius:50%;padding:3px;}
.Lnow-safeTipsBox>form>input{width:36%;border-bottom:1px solid #ccc;margin-left:2%;}
.Lnow-tipsBox{display:none;}
.Lnow-safeTipsBox dl>dd{text-align:left;padding:2% 4%;text-indent:20px;font-size:1.1rem;line-height:24px;}
#Lnow-panel>.row>.nav-tabs{border:none;}
#Lnow-panel>.row>.nav-tabs>li{padding:0;margin:0;}
#Lnow-panel>.row>.nav-tabs>li>a{font-size:1.2rem;text-align:center;padding:4px 0 6px;margin:0;border-radius:0;border:none;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
#Lnow-panel>.row>.nav-tabs>li:last-child a{border-right:none;}
#Lnow-panel>.row>.nav-tabs>li.active>a{background:#666 /*url("../img/liveroom_tabs_finger.png") no-repeat center bottom*/;color:#fff;border-bottom:1px solid #f8f8f8;border-right:none;background-size:28% 22%;background-position-y: 102%;}
.functionTabs{background:#f8f8f8;-webkit-overflow-scrolling:touch;z-index: 99;}
.funTabsClone{display:none;}
/*点赞&红包*/
.Lnow-likeLuckyBox{padding:2px 10px;}
.Lnow-likeLuckyBox>div:first-child{font-size:1.1rem;font-weight:600;padding:0;margin:3% 0 1%;}
.Lnow-likeLuckyBox div>ul{display:inline-block;font-size:14px;width:56%;color:#777;}
.Lnow-likeLuckyBox div>ul>li{display:inline-block;margin:0;width:48%;padding:8px 0 3px;overflow:hidden;}
.Lnow-likeLuckyBox div>ul>li>span{display:inline-block;margin-left:3%;color: #333;}
.Lnow-likeLuckyBox div>ul>li:last-child{position:relative;cursor: pointer; }
.Lnow-likeLuckyBox div>ul>li:last-child>span{color:#ff6c00;}
/*赞-点击后数字闪烁动画*/
.Lnow-likesAnimate{-webkit-animation:twinkle .8s ease-in-out infinite alternate; -moz-animation:twinkle .8s ease-in-out infinite alternate; -o-animation:twinkle .8s ease-in-out infinite alternate;animation:twinkle .8s ease-in-out infinite alternate;}
@keyframes twinkle {
    0%  {text-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #FF1177,0 0 1px #FF1177;}
    100%{text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 4px #FF1177,0 0 6px #FF1177;}}
@-webkit-keyframes twinkle {
    0%  {text-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #FF1177,0 0 1px #FF1177;}
    100%{text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 4px #FF1177,0 0 6px #FF1177;}}
@-moz-keyframes twinkle {
    0%  {text-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #FF1177,0 0 1px #FF1177;}
    100%{text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 4px #FF1177,0 0 6px #FF1177;}}
@-ms-keyframes twinkle {
    0%  {text-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #FF1177,0 0 1px #FF1177;}
    100%{text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 4px #FF1177,0 0 6px #FF1177;}}
@-o-keyframes twinkle {
    0%  {text-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #FF1177,0 0 1px #FF1177;}
    100%{text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 4px #FF1177,0 0 6px #FF1177;}}

.Lnow-likeLuckyBox div>p{float:right;margin-left:3%;}
.Lnow-likeLuckyBox div>p:last-child>span{width:25px;height:25px;background:#999;color:#fff;border-radius:50%;font-size:16px;text-align:center;line-height:26px; }
.Lnow-likeLuckyBox div>p:last-child>b{color:#999;margin-top:4px;}
.Lnow-likeLuckyBox div>p>b{display:block;text-align:center;color:#c00;margin-top:4px;}
.Lnow-likeLuckyBox div>p>span{display:inline-block;cursor:pointer;}
.Lnow-luckyMoney{width:25px;height:25px;color:#c00;}
.Lnow-shareBox{float:right;width:43%;}
.Lnow-shareBox>div>a{float:right;}
.Lnow-shareBox span{float: right;font-size:1.2rem;display:inline-block;margin-right:2%;line-height:2;}
/*红包字体*/
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont" !important;  font-size:24px;font-style:normal;  -webkit-font-smoothing: antialiased;  -webkit-text-stroke-width: 0.2px;  -moz-osx-font-smoothing: grayscale;}
.bs-example-modal-lg-QRCode h4{display: inline-block;margin-bottom: 15px;}
.bs-example-modal-lg-QRCode h4>img{width:120px;height:120px;margin:14px;display: block;}
@media screen and (max-width: 330px) {  .bs-example-modal-lg-QRCode h4>img {width:110px;height:110px;margin:16px;}  }
@media screen and (min-width: 768px){ .bs-example-modal-lg-QRCode h4>img {width:150px;height:150px;margin:20px 14px;} }
.bs-example-modal-lg-QRCode em{display:block;color:#666;font-size:0.9rem;font-weight:600;margin-bottom:5px;}
.bs-example-modal-lg-QRCode h5{font-size:1.2rem;font-weight:600;border-top:1px solid #ddd;padding:10px;cursor:pointer; }
.liveLuckyModal{margin-top:72%;}
/*现场-祝福语*/
    /**祝福语区域，单独设置滚动查看，不再限制显示条数和刷新查询数量**/
.Lnow-wishBox>li{padding-bottom:4%;margin-top:10px;border-bottom:1px solid #ccc;}
.Lnow-wishBox>li>img{float:left;margin-right:2%;width:65px;max-height:65px;cursor: pointer;}
.Lnow-wishBox>li>div{margin-left:1%;padding-left:20%;padding-right:2px;}
@media screen and (max-width: 350px){  .Lnow-wishBox>li>div{padding-left:23%; }  }
@media screen and (min-width: 420px){  .Lnow-wishBox>li>img{width:90px;max-height:90px;}  }
@media screen and (min-width: 500px){  .Lnow-wishBox>li>div{ padding-left:100px; }  }
.Lnow-wishBox>li .Lnow-markNameColor{color: #f00;display: inline-block;margin:0 5px 0 0;}
.Lnow-wishBox>li>div>p{margin-top:2%;font-size:0.8rem;line-height:1.5rem; }
.Lnow-wishBox>li>div>b{font-size:1.1rem;}
.Lnow-wishBox>li>div>h6{display:inline-flex;float:right;padding-right:5px;white-space:nowrap;}
.Lnow-wishBox>li>div>h6>em{padding-left:6%;padding-right:0;white-space:nowrap;}
.Lnow-wishInputBox{width:100%;height:40px;border-top:2px solid #ddd;background-color:#fff;margin:0 -2% 0;padding:0;position:fixed;bottom:0;z-index:600;}
@media screen and (min-width: 768px){  .Lnow-wishInputBox{height:50px;width:97.8%;}  }
.Lnow-wishInputLogo{display:inline-block;width:25px;height:25px;background:url("../img/liveroom_wishlogo.png") no-repeat left center;vertical-align:middle;margin:0 3%; }
#Lnow-panel .Lnow-wishInput{width:73%;height:100%;padding:5px 50px 5px 5px;margin:5px 0;border-bottom:1px solid #ddd;font-size:1rem;}
input.Lnow-wishInput::-webkit-input-placeholder {color:#999;}/*webkit*/
input.Lnow-wishInput::-moz-placeholder{color:#999;}          /*4~18*/
input.Lnow-wishInput:-moz-placeholder{color:#999;}           /*19+*/
input.Lnow-wishInput:-ms-input-placeholder{color:#999;}      /*IE10+*/
#Lnow-panel .Lnow-wishInputBtn{background:#333;border-radius:3px;font-size:1rem;padding:5px 10px;color:#fff;position: absolute;top:8px;right:2%;}
@media (min-width:820px) {
    #Lnow-panel .Lnow-wishInputBtn{right:8%;}
    .Lnow-wishInputBox{width:104%;position:relative;margin:0 -2% 0;}
    .Lnow-tab-panelBg{padding-bottom:0;}
}
.Lnow-wishInputBox span{top:14%;right:2%;cursor:pointer;position: absolute;}
.Lnow-wishInputBox span:before{color:#333;font-size:30px;}
.Lnow-wishBtn{width:22px;height:22px;background:url("../img/wish_checkBg.png") no-repeat -23px 0;cursor:pointer; }
.Lnow-wishBtn:checked{background-position:0;}
/*祝福语弹出层*/
.tab-MyContent{position:relative;}
.Lnow-wishPopBox{width:100%;bottom:0;left:0;position:fixed;display:none;z-index:9999; }
.Lnow-wishPopBox>h5{width: 100%;height: 1000px;}
.Lnow-wishWordsBox{width:100%;height:254px;overflow-y:scroll;background:#fff;padding:0 20px 40px;margin:0 ;}
.Lnow-wishWordsTitle .Lnow-wishTips{display:inline-block;padding:14px 0;font-size: .9rem;color: #999;}
.Lnow-wishWordsBox li{border-bottom:1px solid #eee;padding:2% 0;}
.Lnow-wishWordsTitle{background:#eee;margin:0 -2%;text-align: center;z-index: 9999;}
.Lnow-wishWordsTitle>button{margin:1% 3%;}
.Lnow-wishWordsTitle>button:last-child{background:#f8f8f8;color:#333;}
/*.Lonw-wishWordsTxt{width:90%;padding-left:6px;}*/
.Lnow-wishWordsBox>li>label{width:90%;padding-left:6px;}
/*****Bootstrap-按钮和选择框，(取消)选中时的蓝色边框******/
.Lnow-wishBtn:checked:focus, .Lnow-wishBtn:active:focus{outline:none;}
.Lnow-wishWordsTitle>button:active:focus, .Lnow-wishWordsTitle>button:focus{outline:none;}
@media (min-width: 768px) and (max-width: 991px) { 
    .Lnow-wishPopBox{position:fixed;width:750px;left:0;right:0;margin:0 auto;}
    .Lnow-wishWordsTitle{margin: 0;}}/**/
@media screen and (min-width: 992px) {
    .Lnow-wishPopBox{position:absolute;}
    .Lnow-wishWordsBox{width:auto;margin:0 -2%;}
}
/********************END********************/
/*仪式流程*/
/*??仪式、人气和其他视频内容部分设置最小高度，消除导航栏顶部吸附后，页面内容高度不够，导致滑动跳闪和无法滑动问题??*/
/*#pane2-procedure>div>div{padding:2% 15px;margin:0;border-bottom:1px solid #c1c1c1;}*/
#pane2-procedure>div>div>p{font-size:1.4rem;font-weight:600;margin-bottom:2%;}
#pane2-procedure>div>div>span{color:#999;}
#pane2-procedure>div>dl{margin:4% 2%;font-size:1rem;text-indent:20px;}
#pane2-procedure>div>dl>dd{line-height:1.5rem;margin:3% 0;}
#pane2-procedure .Lnow-weddingContent{border: none;padding:0 0;}
.Lnow-tel-navi{margin:6% 2% 4%;text-align:center;}
.Lnow-tel-navi>h3{font-size:1.6rem;font-weight:600;margin:20px 0;   }
.Lnow-tel-navi>hr{border-color:#333;margin:1% 0;}
.Lnow-tel-navi>hr{font-size:1.4rem;}
.Lnow-tel-navi>h4{display:inline-block;padding:3%;font-size:1rem;color:#155bde;}
.Lnow-tel-navi>p{display:inline-block;padding:3%;font-size:1rem;color:#155bde;}
.Lnow-tel-navi>p>span{font-size:24px;  }
.Lnow-tel-navi>p>a{padding-left:10px; }
.Lnow-tel-navi>h4>span{font-size:24px;  }
.Lnow-tel-navi>h4>a{padding-left:10px; }

/*邀约人气*/
#pane3-hots>ul>li:first-child{border-bottom:1px solid #ccc;font-size:1rem;font-weight:600;padding-bottom:3%;padding-top:3%;}
#pane3-hots>ul>li:first-child>span{display:inline-block;text-align:center;padding:0;}
#pane3-hots>ul>li:not(:first-child){margin:2% 0;}
#pane3-hots>ul>li:not(:first-child) span{text-align:center;line-height:4.5rem;font-size:1.2rem;}
#pane3-hots>ul>li:not(:first-child) span>img{width:80px;max-height:80px;}
#pane3-hots>ul>li:not(:first-child) span:last-child{color:#666;}
.Lnow-hotsNums{border-radius:5px;background:#666;color:#fff;padding:6px 10px;}
.Lnow-hotsNumsFouth{border-radius:5px;background:#c1c1c1;color:#fff;padding:6px 10px;}
#pane3-hots .single_text.Lnow-narrowTxt{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 6px;padding-right: 6px;}
@media (max-width:320px) {
    #pane3-hots>ul>li:not(:first-child) span{line-height:4.5rem;}
}
@media (min-width: 370px) and (max-width: 560px) {
    #pane3-hots>ul>li:not(:first-child) span{line-height:6rem;}
}

/*现场-精彩视频*/
.Lnow-tab-bannerBg{background:#f8f8f8;margin-top:0; }
.Lnow-tab-panelBg{background:#f8f8f8;padding:0 2%;/*margin-bottom:39px;*/ }
@media (min-width:820px) { .Lnow-tab-panelBg{padding-bottom:0;} }
.Lnow-tab-banner{width:100%;height:0;margin:0 auto;padding:0 0 15.5% 0;background:url("") no-repeat center center;background-size:100% 100%;}
/*广告尺寸调整*/
@media screen and (max-width: 400px){
    .Lnow-tab-banner{padding-bottom: 60px;}
    .banner{padding-bottom: 60px;}
    .footer-banner{padding-bottom: 60px;}
}
@media (min-width: 420px) and (max-width: 768px){
    .Lnow-tab-banner{padding-bottom: 12.5%;}
    .banner{padding-bottom:12.5%;}
    .footer-banner{padding-bottom:12.5%;}
}
@media screen and (min-width: 992px){
    .Lnow-tab-banner{padding-bottom: 11.5%;}
    .banner{padding-bottom: 11.5%;}
    .footer-banner{padding-bottom: 11.5%;}
}
.W-tab-banner{background:url("../img/Lnow-tab-banner.jpg") no-repeat center center;background-size:contain; }
.Lnow-tab-ColContent{padding:0;}
.Lnow-tab-Mymedia{border-bottom:1px solid #ddd;padding:2%;}
#pane4-greatVedios .Lnow-tab-Mymedia>div{color:#666;font-size:.9rem;padding-left:8px;}
#pane4-greatVedios .Lnow-tab-Mymedia>div>h4{color:#000;font-size:1.1rem;font-weight:600;margin:2% 0 5%;}
.Lnow-Mymedia-imgBox{width:35%;height:0;padding-bottom:24%; overflow:hidden; display:inline-block;}
.Lnow-Mymedia-txtBox{width:65%;float:right;}
.Lnow-tab-ImgSmall{width: 100%;}
@media (max-width: 420px) {
    .Lnow-tab-ImgSmall{width: 110px;max-height: 75px;}
    .Lnow-hotsNums{padding:3px 7px;}
    .Lnow-hotsNumsFouth{padding:3px 7px;}
}
@media only screen and (min-width: 768px){
    #myCarousel .carousel-MainImg-zoom{max-width:103%;}
    .Lnow-tab-ImgSmall{width: 260px;max-height: 160px;}
}
@media only screen and (max-width: 767px){
    .sm-noPaddLR{padding:0;}
    #myCarousel .newCarousel-box{width:100%;margin:3px 0 0;}
    #myCarousel .newCarousel{width:24.5%;margin:0 0.6% 0 0;padding-bottom:11%;}
    #myCarousel li.newCarousel:last-child{margin:0 0 0 0.5px;}
    .carouselBoxBg{background-image:none; padding-top: 0px;}
    .banner{margin-bottom:0;}
    .newCarousel-bgTxt{top:28%;}
    .showSubImg{ height: auto;}
}
@media screen and (min-width: 992px) {
    .Lnow-Mymedia-imgBox{width:26%;padding-bottom:16.5%;}
    .Lnow-Mymedia-txtBox{margin-right: 8%;}
}
@media screen and (min-width: 1200px) {/*危险标记*/
    #myCarousel .carousel-MainImg-zoom{width:100%;}
    .Lnow-Mymedia-imgBox{padding-bottom:15%;}
}

/*********/
/**主持人详情页**/
.HO-hostImgBox{padding-right:0;}
.HO-noPaddL{padding-left:0;}
.HO-infoBg{width:100%;height:0;min-height:240px;padding-bottom:69%;background: url("../img/hostBg.jpg") no-repeat; background-size: cover; }
.HO-infoBox{width: 49%;display: inline-block;margin: 8% 1% 2% 0;}
.HO-infoBox:last-child{margin-right:0;}
.HO-hostImg{width:90%;min-height:180px; }
.HO-hostInfoCon{width:44%; min-height:180px;padding-right:0;background-color:rgba(255,228,250,0.6); margin-left:-5.6%; }
.HO-hostInfoCon li{font-size:1.1rem;color:#666;margin:7px 0; }
.HO-hostInfoCon li:nth-child(1) h4{display:inline-block;font-size:20px;font-weight:600;color:#000;margin-left:10px;  }
.HO-starRight{text-align:left;margin-left:0;}
/* .HO-hostInfoCon li:nth-child(2){border-bottom: 5px solid #ddd;} */
@media (min-width: 430px) and (max-width: 767px) {
    .HO-hostInfoCon li{margin:6% 0; }
}
@media (min-width: 768px) and (max-width: 990px){
    .HO-hostImgBox{margin-left:36px;}
}
@media  (min-width:768px ) {
    .HO-infoBg{padding-bottom: 46%;}
    .HO-hostInfoCon{margin-left:-5%;}
    .HO-infoBox{padding:4% 0 2%;}
    .HO-hostInfoCon li{margin:15px 0; }
    .HO-hostInfoCon li:nth-child(1) h4{font-size:1.5rem; }
}
@media screen and (min-width:990px ) {
    .HO-infoBg{padding-bottom:30%;}
    .HO-infoBox{padding:2% 0 2%;width:32.33%;}
    .HO-hostInfoCon{margin-left:-3.2%;}
    .HO-hostInfoCon li{margin:7px 0; }
}
@media screen and (min-width: 1200px) {
    .HO-hostInfoCon li{margin:15px 0; }
}
#LpicValidate:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px #eee inset;}
.HO-hostDetail{font-size:1.1rem;text-indent:28px;}
.HO-hostDetail dd{line-height:24px;margin:3% 0;}
.HO-moBtnBox{margin: 14% auto 1%;text-align:center;}
.HO-moBtn{font-size:1.5rem;color:#fff;padding:6px 15%;border-radius: 18px; background:url("../img/exitBg_xs_02.jpg") no-repeat;background-size:cover;  }
.HO-moBtn:hover, .HO-moBtn:focus, .HO-moBtn:active:hover{color:#fff;background: url("../img/exitBg_xs_02.jpg") no-repeat; background-size: cover;text-decoration:none;}
.HO-hostRate{text-align: left;}
.HO-hostRate p{display: inline-block;width:64px;background-size:200%;}
.HO-hostRate span{float:right;cursor:pointer;margin-right:2px;}
.HO-hostRating{display:inline-block;padding:4% 0 0;}
.HO-hostRating dd{width:16px;height:16px;display:inline-block;background:url("../img/rate_star.png") 17px 0;margin:0 5px;position: relative;}
.HO-hostRating dd input{display:inline-block;width:18px; height:18px;position:absolute;top:-4px;left:0;z-index: 99;cursor:pointer;}
.HO-hostRating input:checked, dl.HO-hostRating input:focus{opacity:0;}
.HO-ratingBtnBox{margin-top:3%;}
.HO-ratingBtnBox>p{font-size:0.9rem;color:red;margin:5px;}
.HO-ratingBtnBox>span{display:inline-block;width:50%;border-top:1px solid #ccc;padding:3% 0;cursor:pointer;font-size:18px;}
.HO-ratingBtnBox>span:last-child{color:#666;border-left:1px solid #ccc; }
@media screen and (min-width:990px ) {  .HO-moBtn{font-size: 1.2rem;}  }
.alert-txt{color:red;font-size:1rem;position:absolute;top:3.8rem;right:0;left:0;text-align:center;display:none;}
.alert-txt-likes{top:0;left:50%}
/*20161212增改*/
/*直播间-流程:主持人展示*/
.Lnow-hostShow{margin:8% 2%;border-top:1px solid #666;}
.Lnow-hostTitle{font-size: 1.6rem;font-weight: 600;text-align:center;margin: 2% 0 0;}
.Lnow-hostImgBox{display:inline-block;width: 45%;height: 0;padding-bottom: 40%;max-height: 0;overflow:hidden; margin-left: 2%;}
.Lnow-hostImg{width: 100%;height: auto;min-height: auto;float: right;}

.Lnow-hostInfoCon{background-color: transparent;display: inline-block;width: 45%;margin-left:5%;vertical-align: sub;min-height:0;}
.Lnow-hostInfoCon li:nth-child(1) h4{font-size: 1.4rem;}
.Lnow-hostInfoCon li:nth-child(1) {margin-bottom: 15%;}
@media screen and (min-width: 990px){
    .Lnow-hostImg{width:100%;}
    .Lnow-hostInfoCon{width:34%;}
}
